.post {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 15px;
}

.post__content > img {
  object-fit: contain;
  height: 800px;
  border-radius: 10px;
}
.post__content > p {
  font-size: large;
  overflow-wrap: anywhere;
}

.description > h3,
h4 {
  margin-bottom: 5px;
  margin-left: 10px;
}
.description > h4 {
  color: gray;
}

.post__top {
  display: flex;
}

.post__buttons {
  display: flex;
  justify-content: space-evenly;
}
